:root {
    /* --toast-width: 250px; */
    --toast-width: 250px;
    --toast-height: 60px;
    --toast-margin: 1rem;
}

.norefresh-toast-container {
    position: absolute;
    bottom: 0;
    margin-bottom: var(--toast-margin);
    left: calc(100% - var(--toast-width) - var(--toast-margin));

    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
}

.norefresh-toast {
    width: var(--toast-width);
    height: var(--toast-height);
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

/* Colors are from Preline, used 400 for all */
.norefresh-toast.success {
    background-color: #a3e635;
}

.norefresh-toast.warning {
    background-color: #fde047;
}

.norefresh-toast.error {
    background-color: #f87171;
}
