#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#header {
    display: flex;
}

#main {
    display: flex;
}

.pre-discount-price {
    text-decoration: line-through;
}

.order-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    min-width: 250px;
}

.order-total > div {
    display: flex;
    justify-content: space-between;
}
