.accordion-group {

}

.accordion-content {

}

/* Toggle Content */
.accordion-item.active > .accordion-content {
    display: block;
}

.accordion-item .accordion-content {
    display: none;
}

.accordion-item {
}

/* Icons */
.accordion-item.active > .accordion-header > svg.active {
    display: block;
}

.accordion-item > .accordion-header > svg.active {
    display: none;
}

.accordion-item.active > .accordion-header > svg.inactive {
    display: none;
}

.accordion-header.active {
    border-bottom: 1px solid ;
    @media (prefers-color-scheme: dark){
        border-bottom-color: rgb(51 65 85);
    }
    border-bottom-color: rgb(255 255 255);
}

.accordion-header.active > svg, .accordion-header.active > p {
    color: rgb(59 130 246) !important;
}

.accordion-item > .accordion-header > svg.inactive {
    display: block;
}

/* Display */
.accordion-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
